.about-wrapper {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  padding: 30px;
}
.row {
  margin-bottom: 30px;
}

.about-me {
  margin-bottom: 30px;
}

p,
h3 {
  text-align: start;
}

h3 {
  margin: 15px 0;
}

span,
i {
  color: #0ba376;
  font-weight: bold;
}

.infos div {
  margin-bottom: 10px;
}
.infos span {
  margin-right: 10px;
}

.skills-content {
  margin: 10px 0;
}
