.menu__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: #ffffff;
  height: 100%;
}

.menu__header h2 {
  font-weight: 600;
  font-size: 30px;
  color: #ffffff;
  margin: 0;
}

.menu__header p {
  color: #ffffff;
  font-size: 17px;
  text-align: center;
}

img {
  height: 120px;
  width: 120px;
  border-radius: 300px;
  box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, 0.22);
  border: 3px solid #ffffff;
}

.menu__navigation {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu__navigation li {
  margin: 10px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  color: #b5e3d5;
}

.menu__navigation li a {
  text-decoration: none;
  color: #b5e3d5;
}
.menu__navigation li a:hover {
  color: #ffffff;
}

.menu__social-medias {
  width: 200px;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  padding: 0;
}

.menu__social-medias i {
  height: 30px;
  width: 30px;
  font-size: 20px;
  margin: 0;
  line-height: 30px;
  text-align: center;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.menu__social-medias i:hover {
  background-color: #ffffff63;
}

.menu__download-btn {
  border: solid 2px #ffffff;
  padding: 15px;
  font-weight: 600;
  border-radius: 30px;
  box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.menu__download-btn:hover {
  background-color: #ffffff;
  color: #0ba376;
}

.menu__copyright {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 600;
}
