.home {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  text-align: center;
  font-size: 48px;
  color: #222222;
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 48px;
}
p {
  color: #888888;
  margin-top: 5px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 5px;
}
.logos {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  text-align: center;
}
i {
  display: block;
  height: 40px;
  width: 40px;
  font-size: 40px;
}
.react {
  color: #81d9f7;
}
.node-js {
  color: #4f9b43;
}
.js {
  color: #f7df1e;
}
