.menu-icon {
  position: absolute;
  height: 48px;
  width: 48px;
  border-radius: 30px;
  background-color: #0ba376;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, 0.22);
  cursor: pointer;
}
.menu-icon span {
  position: absolute;
  height: 3px;
  width: 24px;
  display: block;
  background-color: #ffffff;
  margin-top: 3px;
  border-radius: 5px;
  transition: ease 0.5s;
}

.first-bar {
  top: 14px;
}

.second-bar {
  top: 20px;
}

.third-bar {
  top: 26px;
}

.menu-icon.active .first-bar {
  transform: rotate(45deg);
  top: 20px;
}

.menu-icon.active .second-bar {
  opacity: 0;
}

.menu-icon.active .third-bar {
  transform: rotate(-45deg);
  top: 20px;
}

.menu {
  height: 100%;
  box-sizing: border-box;
  width: 0;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #0ba376;
  overflow: hidden;
  transition: ease 0.1s;
}

.menu.open {
  width: 330px;
}
