.app {
  width: 100%;
  height: 100%;
  display: block;
  justify-content: center;
  align-items: center;
}

.body-wrapper {
  height: 100%;
  width: 100%;
  background-color: #0ba376;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box h2 {
  text-align: center;
  font-size: 48px;
  color: #222222;
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 48px;
}
.box p {
  color: #888888;
  margin-top: 5px;
  font-weight: 300;
  margin-bottom: 5px;
}
.logos {
  display: flex;
  justify-content: space-between;
  width: 170px;
  margin-top: 20px;
}
i {
  display: block;
  height: 40px;
  width: 40px;
  font-size: 40px;
}
.react {
  color: #81d9f7;
}
.node-js {
  color: #4f9b43;
}
.js {
  color: #f7df1e;
}
